/***** BASE STYLES *****/

body {
    font-family: 'Libre Baskerville', 'Open Sans', sans-serif, serif;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    font-size: 64px;
    font-family: 'Libre Baskerville';
}

h2 {
    font-size: 36px;
    font-family: 'Libre Baskerville';
    text-align: center;
}

h3 {
    font-size: 24px;
    font-family: 'Open Sans';
}

p {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: normal;
}


/***** GRID *****/

#container {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    float: left;
    padding-top: 90px;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px
}

/***** HEADER *****/

header {
    height: 800px;
}

header img {
    float: left;
    padding: 300px 25px 0 100px;
}

header h1 {
    padding: 300px 25px 0 100px;
}

header h1 span {
    color: #000980;
}

header p {
    font-size: 48px;
    float: left;
    padding: 100px 0 0 100px
}

nav {
    font-family: 'Open Sans';
    float: right;
    padding: 80px 80px 0 0;
}

nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    padding-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #000980;
}

/***** ABOUT *****/

#about {
    background-color: #000980;
    color: white;
    text-align: center;
    width: 100%;
    height: 1000px;
    padding: 170px 0 170px 0;
}

#about img {
    border: 1px solid white;
}

/***** PORTFOLIO *****/

#portfolio {
    text-align: center;
    height: 850px;
    padding: 170px 0 170px 0;
}

/***** CONTACT *****/

#contact {
    float: left;
    margin-top: 170px;
    background-color: #000980;
    color: white;
    height: 600px;
    width: 100%;
}

#contact h2 {
    padding-top: 170px;
}

#contact ul li {
    display: inline;
    padding-right: 45px;
}

#contact a{
    color: white;
    font-weight: normal;
    text-decoration: none;
}

#contact a:hover {
    color: black;
}

/***** FOOTER *****/

footer {
    background-color: #000980;
    color: white;
    float: left;
    padding-top: 90px;
    text-align: center;
    width: 100%;
    
}

footer p {
    font-size: 18px;
}